<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanacard.transitpay.member.model.dao.AccountRepository">
    <select id="selectBackAccount" resultType="com.hanacard.transitpay.member.model.dto.Account">
        SELECT *
        FROM account
        WHERE account_id = #{account_id} and account_phone = #{account_phone}
    </select>

    <update id="updateMainAccount">
        UPDATE account
        SET account_main = 0
        WHERE account_id = #{account_id} and account_num = #{account_phone}
    </update>
    <update id="updateSubAccount">
        UPDATE account
        SET account_main = 1
        WHERE account_id = #{account_id} and account_num = #{account_phone}
    </update>

    <select id="selectAmountMember" resultType="com.hanacard.transitpay.member.model.dto.GroupAccountDetail">
        SELECT g_balance
        FROM groups g
                 INNER JOIN group_account ga ON g.group_account = ga.group_account
                 INNER JOIN account a ON g.account_num = a.account_num
        WHERE g.account_num IN (SELECT account_num FROM account WHERE account_id = #{memberId})
    </select>

    <insert id="insertGroupAccount">
        insert into groups(group_id,group_name,group_type,group_account,account_num,group_leader)
        values (group_id_seq.nextval,#{group_name},#{group_type},#{group_account},#{account_num},#{group_leader})
    </insert>

    <insert id="insertGroupDetail">
        insert into group_account(g_account_id, group_account, g_month, g_day, g_dues, g_autopay, group_pw, g_date)
        values (g_account_id_seq.nextval, #{group_account}, #{g_month}, #{g_day}, #{g_dues}, #{g_autopay},#{group_pw},SYSTIMESTAMP)
    </insert>

    <select id="selectGroupAccountInfo" resultType="com.hanacard.transitpay.member.model.dto.GroupAccountDetail">
        SELECT *
        FROM group_member gm
                 JOIN groups g ON gm.group_id = g.group_id
                 JOIN group_account ga ON g.group_account = ga.group_account
        WHERE gm.member_id = #{param1} and gm.group_id=#{param2}
    </select>

    <select id="selectVirtureAccountNumber" resultType="com.hanacard.transitpay.member.model.dto.GroupAccount">
        SELECT *
        FROM groups
        WHERE account_num = #{param1} AND group_leader = #{param2}
    </select>
    <select id="selectUseTypeAccount" resultType="com.hanacard.transitpay.member.model.dto.GroupAccount">
        SELECT
            g.group_id AS group_id,
            g.group_name AS group_name,
            g.group_type AS group_type,
            g.group_account AS group_account,
            g.account_num AS account_num,
            g.group_use AS group_use
        FROM groups g
                 JOIN account a ON g.account_num = a.account_num
        WHERE a.account_id = #{memberId} AND g.group_use = 0
    </select>
    <select id="inputCheckPassword">
        select group_pw
        from group_account g
            join groups g1 on g.group_account = g1.group_account
        where g1.group_id = #{groupId}

    </select>
    <update id="updateGroupAccount">
        UPDATE account
        SET account_use = 1
        WHERE account_num = #{account_num}
    </update>

    <insert id="insertGroupMember">
        MERGE INTO GROUP_MEMBER gm
            USING DUAL
            ON (gm.member_id = #{param2} AND gm.group_id = #{param3})
            WHEN NOT MATCHED THEN
                INSERT (group_member_id, group_member_type, member_id, group_id)
                    VALUES (group_member_id_seq.nextval, #{param1}, #{param2}, #{param3})
    </insert>

    <select id="selectGroupMember" resultType="com.hanacard.transitpay.member.model.dto.GroupMember">
        select * from group_member where member_id = #{param1} and group_id=#{param2}
    </select>

    <!-- 회비 입금 거래내역 -->
    <insert id="insertAccountStatement">
       INSERT INTO ACCOUNT_STATEMENT (account_tid, account_num, target_account_num, transaction_type, amount, balance, transaction_date, transaction_content)
        VALUES (account_tid_seq.NEXTVAL, #{param1}, #{param2}, #{param3},
                (SELECT balance FROM ACCOUNT WHERE account_num = #{param1}) - #{param4},
                #{param4}, SYSTIMESTAMP, #{param5})
    </insert>
    <insert id="insertGroupAccountStatement">
        INSERT INTO GROUP_ACCOUNT_STATEMENT (group_account_tid, account_num, target_account_num, transaction_type, amount, balance, transaction_date, transaction_content)
        VALUES (group_account_tid_seq.NEXTVAL,  #{param2}, #{param1}, #{param3},
                (SELECT g_balance FROM group_account WHERE group_account = #{param2}) + #{param4},
                #{param4}, SYSTIMESTAMP, #{param5})
    </insert>
    <update id="updateAccountBalance">
        UPDATE account
        SET balance = balance - #{balance}
        where account_id=#{account_id} and account_num=#{account_num} and account_bank=#{account_bank}
    </update>
    <update id="updateGroupAccountBalance">
        UPDATE group_account ga
        SET ga.g_balance = ga.g_balance + #{param2}
        WHERE ga.group_account IN (SELECT g.group_account AS group_account FROM groups g WHERE g.group_account = #{param1})
    </update>

    <!-- 이체 거래내역 -->
    <insert id="insertAccountStatementTransfer">
        INSERT INTO ACCOUNT_STATEMENT (account_tid, account_num, target_account_num, transaction_type, amount, balance, transaction_date, transaction_content)
        VALUES (account_tid_seq.NEXTVAL, #{param1}, #{param2}, #{param3},
                (SELECT balance FROM ACCOUNT WHERE account_num = #{param1}) + #{param4},
                #{param4}, SYSTIMESTAMP, #{param5})
    </insert>
    <insert id="insertGroupAccountStatementTransfer">
        INSERT INTO GROUP_ACCOUNT_STATEMENT (group_account_tid, account_num, target_account_num, transaction_type, amount, balance, transaction_date, transaction_content)
        VALUES (group_account_tid_seq.NEXTVAL,  #{param2}, #{param1}, #{param3},
                (SELECT g_balance FROM group_account WHERE group_account = #{param2}) - #{param4},
                #{param4}, SYSTIMESTAMP, #{param5})
    </insert>
    <update id="updateAccountBalanceTransfer">
        UPDATE account
        SET balance = balance + #{balance}
        where account_id=#{account_id} and account_num=#{account_num} and account_bank=#{account_bank}
    </update>
    <update id="updateGroupAccountBalanceTransfer">
        UPDATE group_account ga
        SET ga.g_balance = ga.g_balance - #{param2}
        WHERE ga.group_account IN (SELECT g.group_account AS group_account FROM groups g WHERE g.group_account = #{param1})
    </update>


    <select id="selectGroupAccountStatement" resultType="com.hanacard.transitpay.member.model.dto.GroupAccount">
        SELECT gas.*,
               gm.member_id AS member_id,
               m.NAME AS name
        FROM GROUP_ACCOUNT_STATEMENT gas
                 LEFT JOIN ACCOUNT a ON gas.account_num = a.ACCOUNT_NUM OR gas.target_account_num = a.ACCOUNT_NUM
                 LEFT JOIN GROUP_MEMBER gm ON a.ACCOUNT_ID = gm.MEMBER_ID
                 LEFT JOIN MEMBER m ON gm.MEMBER_ID = m.MEMBER_ID
        WHERE gas.account_num = #{groupAccount} OR gas.target_account_num = #{groupAccount}
    </select>

    <select id="JoinGroupAccountAndMemberAccount" resultType="com.hanacard.transitpay.member.model.dto.Account">
        SELECT a.*,gm.group_id as group_id
        FROM group_member gm
        JOIN member m ON gm.member_id = m.member_id
        JOIN account a ON m.member_id = a.account_id
        WHERE gm.member_id = #{memberId} AND a.account_main =1
    </select>
    <delete id="deleteGroups" parameterType="int">
        delete from groups where group_id = #{groupId}
    </delete>
    <insert id="accountJoinForm">
        INSERT INTO ACCOUNT (account_id,account_num, balance, account_bank, account_pwd, account_main, account_phone)
        VALUES
            (#{param1}, '1723133312312', 152000, '하나은행', 5454, 0, #{param2})
    </insert>
    <select id="selectGroupAccountChart" resultType="com.hanacard.transitpay.member.model.dto.GroupAccountStatement">
        SELECT
            gm.MEMBER_ID AS member_id,
            m.NAME AS name,
            SUM(gas.BALANCE) AS amount
        FROM
            GROUP_MEMBER gm
                JOIN
            MEMBER m ON gm.MEMBER_ID = m.MEMBER_ID
                JOIN
            ACCOUNT a ON gm.MEMBER_ID = a.ACCOUNT_id
                LEFT JOIN
            GROUP_ACCOUNT_STATEMENT gas ON a.ACCOUNT_NUM = gas.TARGET_ACCOUNT_NUM
        WHERE
            gm.GROUP_ID = #{param1} and gas.ACCOUNT_NUM=#{param2}
        GROUP BY
            gm.MEMBER_ID, m.NAME
        ORDER BY
            gm.MEMBER_ID
    </select>
    <update id="updatePwState">
        update group_member set pw_state=1 where member_id=#{param1} and group_id=#{param2}
    </update>
    <select id="getTransactionsByAccount" resultType="com.hanacard.transitpay.member.model.dto.GroupAccount">
        SELECT gas.*,
               m.NAME AS name
        FROM GROUP_ACCOUNT_STATEMENT gas
                 LEFT JOIN ACCOUNT a ON gas.account_num = a.ACCOUNT_NUM OR gas.target_account_num = a.ACCOUNT_NUM
                 LEFT JOIN GROUP_MEMBER gm ON a.ACCOUNT_ID = gm.MEMBER_ID
                 LEFT JOIN MEMBER m ON gm.MEMBER_ID = m.MEMBER_ID
        WHERE gas.target_account_num = #{accountNum}
    </select>
    <select id="getTransactionsByMember" resultType="com.hanacard.transitpay.member.model.dto.GroupAccount">
        SELECT gas.*,
               m.NAME AS name
        FROM GROUP_ACCOUNT_STATEMENT gas
                 LEFT JOIN ACCOUNT a ON gas.account_num = a.ACCOUNT_NUM OR gas.target_account_num = a.ACCOUNT_NUM
                 LEFT JOIN GROUP_MEMBER gm ON a.ACCOUNT_ID = gm.MEMBER_ID
                 LEFT JOIN MEMBER m ON gm.MEMBER_ID = m.MEMBER_ID
        WHERE gm.member_id = #{param1} and gm.group_id = #{param2}
    </select>
    <select id="selectMyAccountStatement">
        SELECT acs.*,
               m.NAME AS name
        FROM ACCOUNT_STATEMENT acs
                 LEFT JOIN ACCOUNT a ON acs.account_num = a.ACCOUNT_NUM OR acs.target_account_num = a.ACCOUNT_NUM
                 LEFT JOIN MEMBER m ON a.account_ID = m.MEMBER_ID
        WHERE m.member_id = #{memberId}

    </select>
</mapper>

