<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanacard.transitpay.member.model.dao.AdminRepository">

    <select id="selectMember" resultType="com.hanacard.transitpay.member.model.dto.Member">
        SELECT
            member_id AS member_id,
            email AS email,
            name AS name,
            phone AS phone,
            TO_CHAR(join_date, 'YY/DD/MM') AS join_date,
            code AS code,
            recode AS recode
        FROM member
    </select>
    <!--    검색 횟수가 높은 상위 10개 검색어를 날짜 흐름대로 추출하는 것-->
    <select id="searchLocation" resultType="com.hanacard.transitpay.member.model.dto.Search">
        <![CDATA[
        SELECT search_keyword, search_count
        FROM (
                 SELECT search_keyword, COUNT(search_keyword) AS search_count
                 FROM search_location_history
                 GROUP BY search_keyword
                 ORDER BY MAX(search_date) DESC
             )
        WHERE ROWNUM <= 10
        ORDER BY search_count DESC
        ]]>
    </select>
    <select id="optionLocation" >
        SELECT
            search_keyword
        FROM
            search_location_history
        GROUP BY
            search_keyword
        ORDER BY search_keyword
    </select>
    <select id="searchLocationByDate">
        SELECT
            TO_CHAR(search_date, 'yy/mm/dd') AS search_date,
            COUNT(*) AS search_count
        FROM
            search_location_history
        WHERE
            search_keyword = #{option}
        GROUP BY
            TO_CHAR(search_date, 'yy/mm/dd')
        ORDER BY SEARCH_DATE
    </select>
    <select id="searchCount">
        select count(*) from search_location_history
    </select>
    <select id="recommendOfMember">
        SELECT m.*, s.recode_count AS count
        FROM member m
            INNER JOIN (
            SELECT recode, COUNT(*) AS recode_count
            FROM member
            WHERE recode IS NOT NULL
            GROUP BY recode
            ) s ON m.code = s.recode
        order by count desc
    </select>
    <insert id="cashbackPayment">
        insert into point_table
        values(poi_id_seq.nextval,
               (select member_id from member where code =#{code}),
               sysdate,'너도나도캐시백',1000,'n')
    </insert>
    <select id="selectPoint" resultType="_int">
        select sum(poi_point) from point_table where member_id=#{memberId} and poi_type='y'
    </select>
    <select id="selectPointListOfMember" resultType="com.hanacard.transitpay.member.model.dto.Point">
        select * from point_table where member_id=#{memberId} and poi_type='n'
    </select>
</mapper>