<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanacard.transitpay.member.model.dao.MemberRepository">

    <select id="selectOneMember" parameterType="String" resultType="com.hanacard.transitpay.member.model.dto.Member">
        SELECT *
        FROM member
        where phone = #{phone}
    </select>
    <select id="selectEmailOneMember" parameterType="String" resultType="com.hanacard.transitpay.member.model.dto.Member">
        SELECT *
        FROM member
        where email = #{email}
    </select>
    <insert id="insertKakaoAndPhoneMember" parameterType="com.hanacard.transitpay.member.model.dto.Member">
        insert into member(member_id,email,name,phone,join_date,kakao_img,kakao_id,code)
        values (member_id_seq.nextval,#{email},#{name},#{phone},#{join_date},#{kakao_img},#{kakao_id},#{code})
    </insert>
    <select id="selectAllGroupMembers" parameterType="com.hanacard.transitpay.member.model.dto.Member">
        select
            m.*
        from member m join group_member gm on gm.member_id = m.member_id where gm.group_id = #{groupId}
    </select>
    <insert id="joinMember">
        insert into member(member_id,email,name,phone,join_date,kakao_img,kakao_id,birth,pw,code)
        values (member_id_seq.nextval,#{email},#{name},#{phone},#{join_date},#{kakao_img},#{kakao_id},#{birth},#{pw},#{code})
    </insert>
    <update id="updateRecommendCode">
        update member set recode = #{param1} where email=#{param2}
    </update>
</mapper>