
.main {
    width: 100%;
    max-height: 850px;
}.menu1-1{
     text-align: center;
     padding-top: 10px;
     color: #008485;
     font-weight: 700;
     font-size: 20px;
 }.traveltitle{
      text-align: left;
      left: 10px;
      color: #7a7d7d;
      font-size: 29px;
      width: 1155px;
      margin: 30px auto;
      font-weight: 600;
  }
.traveltitle hr{
    border: 1px solid #929292;
}.contents{
     width: 1200px;
     display: flex;
     margin: 30px auto;
 }.menu1 a:hover {
      background-color: #008485;
      color: white;
  }
.menu1 a {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 0.2s;
}.menu1 {
     display: flex;
     flex-direction: column;
     width: 200px;
     border-radius: 0px;
     padding: 10px;
     float: left;
     margin: 20px;
 }.menuhr hr{
      border: 2px solid #008485;
  }.contents-1{
       padding: 10px 0 20px 20px;
       border-radius: 50px;
       width: 800px;
       display: table;
   }
.contentsBox{
    float: left;

}
.contentsText{
    font-weight: 600;
    font-size: 17px;
    color: #606060;
    float: left;
    padding-top: 7px;
}
.section-1 div:nth-child(2){
    margin-left: auto;
}
.section-1{
    display: flex;
    padding: 20px 0;
}
.section-2{
    display: flex;
    margin-bottom: 30px;
}
.section-2 div:nth-child(1), .section-2 div:nth-child(2){
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #EBF1F1;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: #000000;
    padding: 30px 0;
    margin: 0 auto;
    width: 48%;
}
.section-2 div:nth-child(2){
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #EBF1F1;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: #000000;
    padding: 30px 0;
    margin: 0 auto;
    width: 48%;
}
.section-3{
    box-sizing: border-box;
    background: #F7F9F9;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #BEBABA;

}
.newAccount{
    width: 141px;
    border: 1px solid rgba(0, 152, 153, 0.73);
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    color: #008485;
    margin: 30px auto;
}
.hanaClassBox{
    width: 511px;
    padding: 15px 0;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 5px;
}
.hanaClass{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.applyBox{
    width: 358px;
    height: 50px;
    margin: 20px auto;
    background: rgba(0, 152, 153, 0.73);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.applyBtn{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 152, 153, 0.73);
    border: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
}
.classSection{
    display: flex;
    padding-top: 10px;
    margin: 10px 0;
}
.class-1{
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    color: #878787;
    float: left;
}
.plus{
    width: 50%;
    float: right;
    text-align: right;
}
/* 스테퍼 컨테이너 */
.stepper {
    display: flex;
    align-items: center;
}

/* 각 스탭 */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    z-index: 1;
}

/* 원 형태 스타일 */
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    background-color: #FFFFFF;
    border: 2px solid #089b9c;
    color: #089b9c;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}

/* 활성 스탭 스타일 */
.active {
    background-color: #089b9c;
    color: #FFFFFF;
}

/* 가로선 스타일 */
.line {
    width: 170px;
    height: 3px;
    background-color: #DCDCDC;
    position: relative;
    left: 180px;
}

/* 라벨 스타일 */
.label {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #089b9c;
}

.group71{
    text-align: center;
}


.rec6{
    float: right;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #CDC9C9;
    border-radius: 10px;
}
.pay1{
    width: 49%;
    height: 50px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CDC9C9;
    border-radius: 10px;
    float: left;
}
.pay2{
    width: 49%;
    height: 50px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CDC9C9;
    border-radius: 10px;
    margin-left: 0;
    float: right;
}

.gradio{
    padding: 15px;
    width: 10%;
}
.rec7{
    box-sizing: border-box;

    position: absolute;
    width: 141px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 152, 153, 0.73);
    border-radius: 10px;

}

#signup{
    width: 69px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
.idbox{
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    display: flex;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;


}

#calculate{
    box-sizing: border-box;
    width: 800px;
    height: 50px;
    background: rgba(0, 152, 153, 0.73);
    color: #FFFFFF;
    border: 1px solid rgba(0, 152, 153, 0.73);
    border-radius: 10px;
    margin-top: 30px;
}
.box2 > button > span{
    width: 300.21px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #008485;
}

.flexClass{
    display: inline-block;
    width: 800px;
}
.contentsText1{
    font-size: 14px;
}
.payBox{
    margin: 0 auto;
}
#selAccount{
    background-color: #f0f0f0;
}
.groupname{
    color: #008485;
    font-size: 20px;
    font-weight: 700;
}

ul>li{list-style: none}
a{text-decoration: none;}
.clearfix::after{content: "";display: block;clear: both;}
#joinForm{width: 500px;margin: 0 auto;}

ul.join_box {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 30px;
    min-height: 800px; /* 높이를 조정하실 수 있습니다. */
}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}
.footBtwrap{margin-top: 15px; padding: 30px;}
.footBtwrap>li{height: 60px;width: 50%;height: 60px;margin: 0 auto;}
ul.footBtwrap {
    margin-top: 20px; /* 여백을 더 늘릴 수 있습니다. */
    padding: 30px;
}
.g__pop-content{
    color: #2f2f2f;
}
.footBtwrap>li>button{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 152, 153, 0.73);
    border: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
}
.fpmgBt1{background-color: #fff;color:#888}
.fpmgBt2{background-color: lightsalmon;color: #fff}

body{
    margin: 0;
    padding: 0;
}
.mainBox1 {
    width: 100%;
    height: 432px;
    display: grid;
    background: linear-gradient(180deg, rgba(255, 184, 0, 0.37) 0%, rgba(0, 152, 153, 0.222) 100%);
}
.hanacontainer-1{
    text-align: center;
    height: 293px;
    margin: 69px auto;
    background: rgba(255, 251, 251, 0.68);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.hanacontainer-1 table {
    padding: 40px;
}
.hanatitle{
    font-weight: 700;
    font-size: 30px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    color: #616161;
    float: left;
}
.connectact{
    font-weight: 700;
    font-size: 20px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    float: left;
    color: #616161;
}
.atomic{
    width: 107px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 1px solid #ffffff;
}
.atomic span{
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #008485;
}
.hanamoney{
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    right: 10px;
    margin: 20px;
}
.hanamoneybox{
    width: 662px;
    height: 59px;
    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.hanabutton{
    display: inline-grid;
    float: right;
}
.charge{
    width: 200px;
    height: 37px;
    border: 1px solid #FFFBFB;
    background-color: #FFFBFB;
    margin: 10px;
}
.charge span{
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: #393333;
}
.remit{
    width: 200px;
    height: 37px;
    border: 1px solid #FFFBFB;
    background-color: #FFFBFB;
    margin: 10px;
}
.remit span{
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: #008485;
}
.hanabtn > span{
    border: 1.5px solid #B3B3B3;
    margin: 50px;
}
.accountinfo{
    width: 745px;
    /*height: 400px;*/
    background: #F8F8F8;
    display: grid;
    margin: 0 auto;
}

.accountinfo table tr .total{
    height: 10px;
    padding: 20px 0px 4px 30px;
}
.totaltext{
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #000000;
}
.accountinfo table tr .date{
    height: 10px;
    padding: 10px 0px 10px 30px;
}
.datetext{
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #616161;
}
.acntdetail{
    padding-left:30px;
    float: left;
}
.detailinfo{
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #000000;
}
.detailinfo-1{
    font-weight: 700;
    font-size: 12px;
    color: #616161;
    float: right;
    padding-right: 30px;
}
.detailwon{
    font-weight: 700;
    font-size: 15px;
    color: #008485;
    text-align: right;
    padding-right: 30px;
}
.hnmwon{
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    text-align: center;
    color: #616161;
}