.bank{
    display: none;
}

.backgroundbox{
    width: 100%;
    height: 300px;
    background: #259cfe;
    position: relative;
}
.backgroundbox .topbox{
    width: 1400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    margin-top: -50px;
    background: #c3d4e9;
}
#myModal{
    display: none;
}
.contents-1{
    width: 80%;
    margin: 50px auto;
}

/* 여행 일정 요소 스타일 */
.c {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 700;
}

/* 체크박스 스타일 */
input[type="checkbox"] {
    margin-right: 10px;
}

/* 제목 스타일 */
h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* 레이블 스타일 */
label {
    display: block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

/* 여행 버튼 스타일 */
.travel-btn {
    background-color: #ffffff;
    color: #767676;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    border: 5px solid #ddd;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.step-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: white;
    transition: .4s;
    font-size: 20px;
    font-weight: 700;
    color: #7d7d7d;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: #1b3285;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}
.done {
    background-color: white;
    color: #7d7d7d;
}
.step-item {
    z-index: 10;
    text-align: center;
}
#progress {
    -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
    background: white;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: white;
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: white;

}
.card-box{
    display: flex;
}
.left-box{
    width: 40%;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.left-box > div{
    font-weight: 700;
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}
.grid-container, .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 구성 */
    grid-gap: 20px; /* 박스 간격 설정 */
    margin-bottom: 20px;
}

/* 그리드 아이템 스타일 */
.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    width: 185px;
}
.calImg{
    border: 0;
    padding: 10px;
    color: white;
    background: #3F51B5;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    width: 400px;
}
.right-box{
    margin: 30px;
}
.item-food{
    float: left;
    color: #747474;
}
.item-food-1{
    font-size: 16px;
    float: right;;
}
.cal-member-amount{
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-bottom: 10px;
}
.grid-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 5px;
}
.item-p{
    margin-top: 15px;
    color: #eb1158;
    font-weight: 600;
}
.step-title{
    margin-top: 5px;
    font-weight: 700;
    color: #494d4b;
}
.amount{
    color: #eb1158;
}
/*휴대폰 로그인*/
.login{
    color: #413c3c;
    text-align: center;
    display: inline-block;
}
.login img{
    width: 150px;
    margin: 0 auto;
}
#phone-number, #auth-number{
    width: 70%;
    height: 50px;
    float: left;
    display: flex;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 0 5px 0;
    background: 0;
    border: 0;
    border-bottom: solid 3px #b1b1b1;
    color: white;
}
#phone-number::placeholder, #auth-number::placeholder{
    text-align: left;
    color: white;
    background: 0;
}
.confirm-button,  #auth-req-button{
    align-items: center;
    justify-content: center;
    width: 25%;
    float: right;
    border: 1px solid #a7a9a9;
    background-color: #a7a9a9;
    mix-blend-mode: normal;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 14px 0;
    color: #010101;
    font-weight: 700;
    padding: 15px 0;
    font-size: 15px;
}
.authbox{
    width: 100%;
}

.phone-container{
    width: 100%;
    text-align: center;
}
input::placeholder{
    text-align: center;
}
.button-container:hover{
    transform:scale(1.01);
    transition: transform .2s;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열로 구성 */
    grid-gap: 20px; /* 그리드 아이템 간격 설정 */
    margin-bottom: 20px;
}

.grid-item-2 {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.item-content {
    font-size: 18px;
    font-weight: 600;
}

.item-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.item-content p {
    color: #666;
}
.login > p{
    text-align: left;
    font-weight: 700;
    font-size: 22px;
}
.row{
    margin-top: 15px;
}
#searchForm-1 input{
    border: 1px solid #bbb;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 14px;
}
#searchForm{
    display: flex;
}
.card-row{
    padding:30px;
}
#searchForm-1 input{
    border: 1px solid #bbb;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
}
.idbox{
    margin-top: 5px;
    display: flex;
}
.tvlbtn2{
    box-sizing: border-box;
    height: 50px;
    margin-top: 30px;
    background: #2196F3;
    border-radius: 10px;
    float: left;
    border: 0;
}
.modal-content{
    margin-top: 200px;
}
.modal-body{
    text-align: center;
}
p{
    margin-top : 20px !important;
    margin-bottom: 1rem !important;
}
.calComplate{
    color: #707473;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
input[type="text"]::placeholder {
    text-align: left;
}
.selectpoint{
    margin-left: 5px;
    border-radius: 5px;
    border: 0;
    background: black;
    color: white;
    font-size: 12px;
}
/* 모달 스타일 */
.pointModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.point-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
    position: relative;
}

.pointModalclose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* 테이블 스타일 */
.pointTable {
    width: 100%;
    border-collapse: collapse;
}

.pointTable th, .pointTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.pointTable th {
    background-color: #009688;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* 체크박스 스타일 */
.pointTable input[type="checkbox"] {
    margin-right: 5px;
}

/* 테이블 내용 스타일 */
.pointTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pointTable tr:hover {
    background-color: #ddd;
}
.pointh3{
    padding: 10px 0;
    color: #757575;
    font-size: 23px;
}
.pointp{
    font-size: 14px;
    color: #929292;
}
#totalPoints{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
    padding-top: 20px;
}
.totaltext{
    color: #717171;
    font-size: 19px;
}
.totalPoint{
    color: #2196F3;
    margin: 0 10px;
}
.totalBtn{
    border: 0;
    background: #0c151a;
    font-size: 13px;
    width: 80px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
.tvlbuttons{
    width: 100%;
    text-align: center;
    display: grid;
    justify-content: center;
}
.complatecal{
    border: 0;
    background: #0b0b0b;
    padding: 10px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    margin: 10px;
}
.complatetext1{
    margin-bottom: 2px;
}
.complatetext1{

}
strong{
    color: #008485;
}

/*비밀번호 css*/

#restartbtn {
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}
.table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    text-align: center;
}


/*------
# Pincode
----*/

#pincode {
    position: fixed;
    overflow: hidden;
    height: 667px;
    width: 375px;
    z-index: 9999;
    background-color: #33444e;
    background-image: url("https://hd.unsplash.com/photo-1471047283799-ebd97acc0bc3");
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    margin-top: -335px;
    /* Negative half of height. */
    margin-left: -188px;
    /* Negative half of width. */
}

#numbers {
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    opacity: 1;
}

#numbers.hide {
    opacity: 0.3;
}

#pincode button {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    border: 0;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    border-radius: 100%;
    opacity: 1;
    outline: 0;
    border: 1px solid #33444e;
}

#pincode button:active {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0;
}

#fields {
    max-width: 200px;
    padding: 0 20px;
    margin: 50px auto;
    position: relative;
    display: block;
}

#fields .numberfield {
    text-align: center;
}

#fields .numberfield span {
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

#fields .numberfield.active span {
    background-color: #fff;
}

#fields .numberfield.right span {
    background-color: #33444e;
    border-color: #33444e;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


/*------
# Toast Grid
----*/

.grid {
    list-style: none;
    margin-left: -20px;
}

.grid__col--1-of-3,
.grid__col--2-of-6,
.grid__col--4-of-12 {
    width: 33.33333%;
}

.grid__col--1-of-4,
.grid__col--2-of-8,
.grid__col--3-of-12 {
    width: 25%;
}

.grid__col {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
}

.grid__col--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid__col--d-first {
    float: left;
}

.grid__col--d-last {
    float: right;
}

.grid--no-gutter {
    margin-left: 0;
    width: 100%;
}

.grid--no-gutter .grid__col {
    padding-left: 0;
}

.grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%;
}

.grid__col--ab {
    vertical-align: bottom;
}

.grid__col--am {
    vertical-align: middle;
}

.miss {
    -webkit-animation: miss .8s ease-out 1;
    animation: miss .8s ease-out 1;
}

@-webkit-keyframes miss {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }
    20% {
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }
    30% {
        -webkit-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
    }
    40% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0);
    }
    50% {
        -webkit-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
    60% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
    }
    70% {
        -webkit-transform: translate(-5px, 0);
        transform: translate(-5px, 0);
    }
    80% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes miss {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }
    20% {
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }
    30% {
        -webkit-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
    }
    40% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0);
    }
    50% {
        -webkit-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
    60% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
    }
    70% {
        -webkit-transform: translate(-5px, 0);
        transform: translate(-5px, 0);
    }
    80% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}