.category-list {
    justify-content: center;
    margin: 20px 0;
}

.category-list button {
    background-color: #03a9f4;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.category-list button:hover {
    background-color: #005050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category-list button.selected-category {
    background-color: #005050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    height: 100%;
    justify-content: center;
}

.item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.category1-text {
    color: red; /* 카테고리 1 텍스트 색상 */
}

.category2-text {
    color: blue; /* 카테고리 2 텍스트 색상 */
}

.contents-1 {
    padding: 10px 0 20px 20px;
    border-radius: 50px;
    display: inline-block;
    width: 100%;
}
.item-img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.like-button, .bookmark-button{
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
}
.bookmark-button img{
    width: 36px;
    height: 35px;
    margin-bottom: 6px;
}
.like-button img{
    width: 45px;
    position: relative;
}
.contents{
    margin: 30px auto;
    text-align: center;
    /*width: 80%;*/
}
.traveltitle{
    color: #7a7d7d;
    font-size: 25px;
    width: 90%;
    margin: 30px auto;
    font-weight: 600;
}.main {
     width: 100%;
     height: 850px;
 }
.like-count, .bookmark-count{
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    position: absolute;
    transform: translate(-28px,100%);
}
.itemHeading{
    color: #585858;
    font-size: 18px;
    width: 170px;
    margin: 5px auto;
    height: 70px;
}
.search{
    position: relative;
    margin: 5px auto;
    width: 300px;
}
#searchInput {

    border-radius: 10px;
    width: 95%;
    border: 1px solid #bbb;
    padding: 15px 15px;
}
.searchimg{
    top: 0;
    position: absolute;
    padding: 13px 0 13px 0;
    right: 0;;
    margin-right: 0;
}
