.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(137deg, #FFFFFF 0%, #000000 100%);
}

.modal-content {
    background-color: #000000c9;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    height: 560px;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login{
    color: #FFFBFB;
    text-align: center;
    display: inline-block;
}
.login img{
    width: 150px;
    margin: 0 auto;
}
#phone-number, #auth-number{
    width: 70%;
    height: 50px;
    float: left;
    display: flex;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 0 5px 0;
    background: 0;
    border: 0;
    border-bottom: solid 3px #b1b1b1;
    color: white;
}
#phone-number::placeholder, #auth-number::placeholder{
    text-align: left;
    color: white;
    background: 0;
}
.confirm-button,  #auth-req-button{
    align-items: center;
    justify-content: center;
    width: 25%;
    float: right;
    border: 1px solid #a7a9a9;
    background-color: #a7a9a9;
    mix-blend-mode: normal;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 14px 0;
    color: #010101;
    font-weight: 700;
    padding: 15px 0;
    font-size: 15px;
}
.authbox{
    width: 100%;
}

.phone-container{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
input::placeholder{
    text-align: center;
}
.button-container:hover{
    transform:scale(1.01);
    transition: transform .2s;
}