
.main {
    width: 100%;
    height: 850px;
}.menu1-1{
     text-align: center;
     padding-top: 10px;
     color: #008485;
     font-weight: 700;
     font-size: 20px;
 }.traveltitle{
      text-align: left;
      left: 10px;
      color: #7a7d7d;
      font-size: 29px;
      width: 1155px;
      margin: 30px auto;
      font-weight: 600;
  }
.traveltitle hr{
    border: 1px solid #929292;
}
.contents{
    width: 1200px;
    display: flex;
    height: 100%;
    margin: 30px auto;
}.menu1 a:hover {
     background-color: #008485;
     color: white;
 }
.menu1 a {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 0.2s;
}.menu1 {
     display: flex;
     flex-direction: column;
     width: 200px;
     border-radius: 0px;
     padding: 10px;
     float: left;
     margin: 20px;
 }
.menuhr hr{
    border: 2px solid #008485;
}
.contents-1{
    padding: 10px 0 20px 20px;
    border-radius: 50px;
    width: 800px;
    display: table;
}
/*살짝다름*/
.contentsText{
    font-weight: 600;
    font-size: 17px;
    color: #606060;
    float: left;
    padding: 13px 0;
}
.section-1 div:nth-child(2){
    margin-left: auto;
}
.section-1{
    display: flex;
    padding: 20px 0;
}


.success{
    box-sizing: border-box;
    background: #FFFFFF;
    border-width: 0px 0px 3px 0;
    border-style: solid;
    border-color: #b4b2b2;
}
.hanaClassText{
    color: #7d7d7d;
    text-align: center;
    padding-bottom: 60px;
}

.hanaClassBox{
    width: 511px;
    padding: 15px 0;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 5px;
}
.hanaClass{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.applyBox{
    width: 358px;
    height: 50px;
    margin: 20px auto;
    background: rgba(0, 152, 153, 0.73);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.applyBtn{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 152, 153, 0.73);
    border: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
}
.classSection{
    display: flex;
    padding: 10px;
    margin: 10px 0;
}
.class-1{
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    color: #878787;
    float: left;
}

.accountBox{
    display: grid;
    width: 50%;
    text-align: right;
    margin-left: 0;
    justify-items: end;
}
.accountBox>.account{

    float: right;
    text-align: right;
}
.account{
    width: 50%;
    float: right;
    text-align: right;
}

.stepper {
    display: flex;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    z-index: 1;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    background-color: #FFFFFF;
    border: 2px solid #089b9c;
    color: #089b9c;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}

.active {
    background-color: #089b9c;
    color: #FFFFFF;
}

.line {
    width: 170px;
    height: 3px;
    background-color: #DCDCDC;
    position: relative;
    left: 180px;
}

.label {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #089b9c;
}
.newAccountImg{
    text-align: center;
    margin: 0 auto;
    width: 60px;
    display: block;
}
.section-4 > hr{
    border: 1.5px solid #b4b2b2;
}
.actBottomText{
    width: 106px;
    height: 18px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: rgba(0, 152, 153, 0.73);
}
.bottomText-1{
    font-weight: 600;
    font-size: 15px;
    color: #B0B0B0;
}
.textBox{
    padding: 10px 0;
}
#kakaotalk-sharing-btn{
    box-sizing: border-box;
    width: 800px;
    height: 50px;
    background: rgba(0, 152, 153, 0.73);
    color: #FFFFFF;
    border: 1px solid rgba(0, 152, 153, 0.73);
    border-radius: 10px;
    margin-top: 30px;
}
#kakaotalk-sharing-btn:hover{
    transform: scale(1.009);
    transition: transform 0.1s ease-in-out;
}