li {
    list-style-type: none;
}
.nav {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
}

.title {
    font-size: 1.6em;
}

.title > a {
    color: white;
    font-weight: 900;
}

.menu {
    margin: 0 auto;

}

.menu li {
    margin-right: 20px;
    display: contents;
}
#menu li a{
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 625px) {

    .nav {
        padding: 30px 40px;
    }

    #menu {
        display: none;
    }

    .fab {
        display : none;
    }

    .fas {
        font-size: 2em;
    }
}

body{
    margin: 0;
    padding: 0;
}

.mainBox1 {
    margin: 30px auto;
    justify-content: left;
    display: flex;
    padding: 30px;
}

.leftContent {
    float: left;
    box-sizing: border-box;
    font-weight: 700;
    display: inline-block;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    left: -250%;
    font-size: 2rem;
}

.leftContent-2{
    font-size: 28px;
    font-size: 1.2rem;
    color: #FFFFFF;
    display: inline-flex;
    box-sizing: border-box;
    position: relative;
    left: -250%;
}
.rightContent {
    justify-content: center;
}
.leftBox{
    display: grid;
    width: 56%;
    padding: 30px;
}
.rightContent {
    opacity: 0; /* 초기에 투명하게 설정 */
    transform: translateY(20px); /* 초기 위치 설정 */
    transition: opacity 2s ease, transform 2s ease;
}

.rightContent.show {
    opacity: 1;
    transform: translateY(0);
    padding: 30px;
}
.mytravel{
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: larger;
    transition: all 200ms ease-in-out 0s;
    width: 180px;
    height: 50px;
    line-height: 40px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    margin-top: 60px;
    left: -250%;
}

img .tvlcard1 .tvlcard2{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 13px 24px 0px, rgba(0, 0, 0, 0.08) 0px -6px 9px 0px inset;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#0096885e;
    -webkit-box-align: center;
    border-bottom: 1px solid rgb(239, 239, 239);
    height: 50px;
    padding: 30px 140px 20px 150px;
}


#menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .navbar-fixed {
        display: flex;
    }
}
.cardContainer{
    position: relative; /* 부모 요소를 상대적인 위치로 설정 */
}
.tvlcard1 {
    position: absolute;
    top: -10px;
    left: -40px;
    width: 150px;
    z-index: 1;
}

.tvlcard2 {
    position: relative;
    top: 25px;
    width: 150px;
    left: 50px;
}
.mytravel:hover{
    background: #ffffff;
    color:#59D0C9;
}

.main {
    width: 63%;
    height: 460px;
    border-radius: 10px;
    float: left;
    background: linear-gradient(180deg, #31D8BA 0%, rgba(124, 218, 201, 0.65) 45.83%, rgba(3, 181, 182, 0.38) 60.42%, rgba(255, 184, 0, 0.37) 100%), url(../images/account.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.main-2{
    width: 35%;
    float: right;
    height: 460px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 60px;
    font-weight: 500;
}

.mainBox1{
    margin: 40px auto;
    justify-content: left;
    display: flex;
    padding: 30px;
}
.navbar-fixed {
    display: none;
}
@font-face {
    font-family: "hana";
    src: url("../../resources/font/Hana2-Bold.otf") format('opentype');
}
.title p{
    font-family: hana;
    font-size: smaller;

}
.title{
    display: flex;
    align-items: center;
    float: right;
}
.box-container{
    width: 100%;
    max-width: 1200px; /* Adjust the max width as needed */
    height: 460px;
    margin: 50px auto;
    flex-wrap: wrap;
}
.navhr{
    border: 1px solid #e8e8e8;
}

.totalmenu{
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://image.kebhana.com/cont/common/img/newmain2021/icon-30-menu-all.png) no-repeat center;
    text-indent: -9999px;
}

.hanamenu {
    text-align: center;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.hanamenu li{
    margin-right: 20px;
    display: contents;
}
.hanamenu li .hanamenu-a{
    color: #8b8b8b;;

}
.main-2 hr{
    width: 90%;
    border: 1px solid #d8d8d8;
}
.button-container{
    position: relative;
    width: 320px;
    height: 50px;
    border: 1px solid #0bb2a2;
    background: #0bb2a2;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 14px 0;
}
.login-button{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.hanamenu-1{
    text-align: center;
}
.phoneauth{
    text-align: center;
    color: #000000;
    font-size: 20px;
    display: grid;
    font-weight: bold;
    padding-bottom: 10px;
}
.phonebox img{
    width: 50px;
    margin: 20px;
}
.hanamenu > li{
    position: relative;
}
.hanamenu > li > .hanamenu-a {
    display: block;
    position: relative;
    padding-bottom: 19px;
    cursor: pointer;
}
.hanamenu > li > .hanamenu-a:hover{
    color: #31D8BA;
    font-weight: 700;
}

.hanamenu > li > .hanamenu-a > img {
    width: 30px;
    height: 30px;
}
.hanameneSpan {
    position:absolute; bottom:0; left:50%;  white-space:nowrap; transform:translate(-50%, 0)
}
.login{
    text-align: center;
    display: inline-block;
}
.login img{
    width: 150px;
    margin: 0 auto;
}
#phone-number, #auth-number{
    width: 70%;
    height: 50px;
    float: left;
    display: flex;
    border: 1px solid #f9fafc;
    background-color: #ffffff;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 5px 0;
}
.confirm-button{
    height: 50px;
    width: 25%;
    float: right;
    border: 1px solid #0bb2a2;
    background-color:#0bb2a2;
    mix-blend-mode: normal;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 14px 0;
}
.authbox{
    width: 100%;
}
#auth-req-button{
    height: 50px;
    width: 25%;
    float: right;
    border: 1px solid #0bb2a2;
    background-color: #0bb2a2;
    mix-blend-mode: normal;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 14px 0;
}
.phone-container{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
input::placeholder{
    text-align: center;
}
.button-container:hover{
    transform:scale(1.01);
    transition: transform .2s;
}
.main-2 p{
    text-align: right;
    padding-right: 50px;
    font-weight: normal;
    color: #9E9E9E;
}

.loginbox{
    height: 240px;
    margin-top: 20px;
}

.loginafter {
    width: 80%;
    height: 160px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
}
#hanaloginbox  .logout{
    float: right;
    border: 0;
    background: 0;
    margin-right: 50px;
    padding-top: 20px;
    font-weight: normal;
    color: #9E9E9E;
}
.hanabox{
    width: 80%;
    margin: 0 auto;
}

.hana-1{
    display: flex;
    width: 100%;
    float: left;
    height: 20px;
    color: #8b8b8b;
    font-weight: 700;
    align-items: center;
}

.hanamoney-1{
    width: 100%;
    display: flex;
    width: 100%;
    display: flex;
    height: 70px;
    font-weight: 700;
    padding-top: 10px;
    font-size: 40px;
    align-items: center;
    color: #000000;
}

.hanawon{
    float: left;
    display: flex;
}
.hanawon-1{
    float: left;
    display: flex;
    margin: 10px;
}

.hana-1 img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}
.seemore > .seemore-1{
    color: #0ec1b1;
    align-items: center;
    width: 100%;
    float: right;
    text-align: right;
    margin: 0;
}
.notification{
    border-radius: 50%;
    background: #ff0049;
    width: 17px;
    height: 17px;
    padding: 3px 2px 1px 2px;
    color: white;
    display: block;
    bottom: 10px;
    float: right;
    line-height: 18px;
    font-weight: 800;
    position: relative;
    font-size: 15px;
}
.t1{
    color: #ff6400;
}
.kakaoa .kakao_btn{
    width: 40px;
    margin: 10px;
    float: left;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    border-radius: 20px;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.selecloc-1, .selecloc-2{
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #0073681c;
    border-radius: 26px;
    text-align: center;
    margin: 0 auto;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 13px 24px 0px, rgba(0, 0, 0, 0.08) 0px -6px 9px 0px inset;
}
.selecloc-1{
    background: #0bb2a2;
}
.selecloc-2{
    background: #d91717c4;
}
#notificationDropdown {
    display: none; /* 초기에는 드롭다운 숨김 */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    /* 기타 스타일 속성을 여기에 추가할 수 있습니다. */
}
.signup,.login{
    cursor: pointer;
}
.signup:hover,.login:hover{
    color: #008485;
}