
.group71{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    text-align: center;
    padding: 80px 0 80px 0;
}


#rec6{
    float: right;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #CDC9C9;
    border-radius: 10px;
}
.rec6::placeholder{
    position: absolute;
    width: 147px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #CDC9C9;
}
.gradio{
    padding: 15px;
    width: 10%;
}
.rec7{
    box-sizing: border-box;

    position: absolute;
    width: 141px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #008485;
    border-radius: 10px;

}

#signup{
    width: 69px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
.idbox{
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    display: flex;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;


}

#join2{
    box-sizing: border-box;
    width: 510px;
    height: 50px;
    background: #008485;
    color: #FFFFFF;
    border: 1px solid #008485;
    border-radius: 10px;
    margin-top: 30px;
}
.box2 > button > span{
    width: 300.21px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #008485;
}

.flexSignup{
    display: inline-block;
    width: 510px;
}
