.main2{
    /*background-color: rgba(255, 184, 0, 0.37);*/
    display: grid;
    margin-top: 150px;
    width: 100%;
}
.ctext1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000c2;
    display: inline-block;
    box-sizing: border-box;
}
.ctext2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    text-align: center;
    color: #079596c9;
    display: inline-block;
    box-sizing: border-box;
}

.tbutton {
    box-sizing: border-box;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #008485;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
}
.tTrable{
    font-weight: 700;
    font-size: 20px;
    color: #008485;
    margin: 0 auto;
}
.ttext{
    margin-top: 10px;
    text-align: center;
}
.mtext{
    margin-top: 40px;
    text-align: center;
}
.bbutton{
    margin-top: 100px;
    text-align: center;
}.main3{
     display: grid;
     margin-top: 150px;
     text-align: center;
     background-color: rgb(80, 227, 194);
     padding: 150px;
 }

.exchgimg{
    width: 500px;
    margin: 50px auto;
    display: flow;
}
.exchgbutton{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 26px;
    text-align: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 13px 24px 0px, rgba(0, 0, 0, 0.08) 0px -6px 9px 0px inset;
}
.tbutton:hover {
    background-color: #008485;
    color: white;
}
.exchgtext{
    color: rgb(54, 102, 255);
    font-weight: bold;
    font-size: 20px;
}
.ttext, .mtext, .bbutton {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.ttext.show, .mtext.show, .bbutton.show {
    opacity: 1;
    transform: translateY(0);
}

.tbutton:hover .tTrable {
    color: white;
}
.main2-2{
    width: 100%;
    max-width: 1200px; /* Adjust the max width as needed */
    height: 460px;
    margin: 50px auto;
    flex-wrap: wrap;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}
.parent{
    margin: 0px auto;
    display: flex;
    padding: 30px;
}

.first {
    flex: 1;
    height: 350px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #f3f6fb;

}
.first .img{
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.first img{
    height: 230px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.t_wrap{
    padding: 24px 0 36px 0;
    box-sizing: border-box;
}
.t_wrap .name{
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.name{
    color: #666;
    line-height: 1.462em;
}


.exchange-container {
    display: flex;
    overflow: hidden;
    margin: 10px auto;
    width: 100%; /* Add this line to ensure the container's width is set properly */
}

.exchange-slide {
    flex: 0 0 100%;
    background-color: #dcf2fe;
    border-radius: 10px;
    min-width: 100%;
    text-align: center;
}

.exchange-img {
    overflow: hidden;
}

.exchange-img img {
    width: 100%;
    float: left;

    object-fit: cover;
}

.exchange-info {
    flex-grow: 1;
}

.exchange-name {
    font-weight: bold;
}

.exchange-rate {
    margin-top: 5px;
    font-size: 14px;
}
.parent > div:nth-child(1){
    background-color: #dcf2fe;
}