.main {
    width: 100%;
}
.menu1-1{
    text-align: center;
    padding-top: 10px;
    color: #008485;
    font-weight: 700;
    font-size: 20px;
}
.traveltitle{
    text-align: left;
    left: 10px;
    color: #7a7d7d;
    font-size: 29px;
    width: 1155px;
    margin: 30px auto;
    font-weight: 600;
}
.traveltitle hr{
    border: 1px solid #929292;
}
.contents{
    width: 1200px;
    display: flex;
    margin: 30px auto;
}.menu1 a:hover {
     background-color: #008485;
     color: white;
 }
.menu1 a {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 0.2s;
}.menu1 {
     display: flex;
     flex-direction: column;
     width: 200px;
     border-radius: 0px;
     padding: 10px;
     float: left;
     margin: 20px;
 }.menuhr hr{
      border: 2px solid #008485;
  }.contents-1{
       padding: 10px 0 20px 20px;
       border-radius: 50px;
       width: 75%;
       display: table;
   }
.contentsText{
    font-weight: 600;
    font-size: 17px;
    color: #606060;
    float: left;
    display: flex;
    padding: 13px 0;
}
.section-1 div:nth-child(2){
    margin-left: auto;
}
.section-1{
    display: flex;
    padding: 20px 0;
}

.section-3{
    box-sizing: border-box;
    background: #F7F9F9;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #BEBABA;

}
.newAccount{
    width: 180px;
    border: 2px solid rgba(0, 152, 153, 0.73);
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    color: #008485;
    margin: 20px auto;
    background: white;
}
.hanaClassBox{
    width: 511px;
    padding: 15px 0;
    margin: 10px auto;
    background: #FFFFFF;
    border-radius: 5px;
}
.hanaClass{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.applyBox{
    width: 275px;
    height: 50px;
    background: rgba(0, 152, 153, 0.73);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.applyBtn{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #1e6c93;
    border: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
}

.applyBtn1{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: rgb(0 152 153);
    border: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
}
.classSection{
    display: flex;
    padding: 10px;
    margin: 10px 0;
}
.class-1{
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    color: #878787;
    float: left;
}
.plus{
    width: 50%;
    float: right;
    text-align: right;
}
/* 스테퍼 컨테이너 */
.stepper {
    display: flex;
    align-items: center;
}

/* 각 스탭 */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    z-index: 1;
}

/* 원 형태 스타일 */
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    background-color: #FFFFFF;
    border: 2px solid #089b9c;
    color: #089b9c;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}



/* 가로선 스타일 */
.line {
    width: 170px;
    height: 3px;
    background-color: #DCDCDC;
    position: relative;
    left: 180px;
}

/* 라벨 스타일 */
.label {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #089b9c;
}
.agreeDetail {
    display: none;
}
.plusButton{
    border: 0;
    background: 0;
    font-size: 18px;
    font-weight: 600;
    color: #878787;
}
.agreeDetail{
    padding: 0 0 20px 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.modal-content {
    background-color: #fff;
    margin: 150px auto;
    padding: 30px;
    width: 700px;
    border-radius: 5px;
}

/* 닫기 버튼 스타일 */
.close-btn {
    float: right;
    cursor: pointer;
    display: none;
}

.rec6{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #CDC9C9;
    border-radius: 10px;
}
.flexClass{
    display: inline-block;
    width: 500px;
    margin-bottom: 20px;
}
#calculate{
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    background: rgba(0, 152, 153, 0.73);
    color: #FFFFFF;
    border: 1px solid rgba(0, 152, 153, 0.73);
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
}
.idbox{
    float: left;
}
h2{
    text-align: center;
}
.group71 {
    text-align: center;
}

/* Style for the custom checkbox container */
.checkbox-cell {
    width: 20px;
    text-align: center;
}

/* Style for the custom checkbox */
.checkbox-cell input[type="checkbox"] + label::before {
    /*content: '\2713'; !* Unicode checkmark symbol *!*/
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s;
}

/* Style for checked custom checkbox */
.checkbox-cell input[type="checkbox"]:checked + label::before {
    color: #007bff;
}

/* Style for the agreement text and view terms */
.text-cell {
    flex: 1;
    display: flex;
    align-items: center;
}

.agreement-text {
    padding-left: 10px;
}

/* Style for the link to view terms */
.view-terms a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.view-terms a:hover {
    color: #0056b3;
}

/* Add some margin between rows */
.agreement-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.agreement-table{
    width: 80%;
    margin: 0 auto;
    display: grid;
    text-align: left;
}

.mygroup-box{
    margin: 20px auto;
    display: flex;
    width: 70%;
}

.chartbox{
    display: block;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.selecloc-1, .selecloc-2{
    width: 200px;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #0073681c;
    border-radius: 26px;
    text-align: center;
    margin: 0 auto;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 13px 24px 0px, rgba(0, 0, 0, 0.08) 0px -6px 9px 0px inset;
}
.selecloc-1{
    background: #0bb2a2;
}
.selecloc-2{
    background: #d91717c4;
}
.invite-img{
    width: 100px;
}
.invite-box{
    margin: 20px 40px 20px 40px;
    text-align: center;
}
.group-member-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
#accountSelect, #memberSelect{
    border: 1px solid #a4a4a4;
    padding: 10px;
    width: 205px;
}
.accountBtn, .memberBtn{
    padding: 10px;
    border: 1px solid #5e83aafc;
    background: #5e83aafc;
    color: white;
}
.category-selectbox{
    text-align: center;
    margin-bottom: 20px;
}

#example_filter{
    display: none;
}
.odd{
    background: #f1f1f1;
}
.sorting_1{
    background: aliceblue;
}
#example_wrapper table.dataTable.no-footer{
    border: 0;
    background: #5e83aafc;
    color: white;
}
#example table.dataTable thead th,table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #FFFBFB;
}
#example_wrapper table.dataTable.no-footer tbody{

    color: black;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #333 !important;
    border: 0 !important;
    background: 0 !important;
}
#example_info{
    display: none;
}
.card , .card1{
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    /*color: #E91E63;*/
    /*border: 1px solid #E91E63;*/
    background: #828282;
    color: #FFFBFB;
    margin: 0 auto;
    padding: 15px 0;
    width: 70px;
    border-radius: 50px;
}
.card1{
    background: #1e6c93;
    color: #FFFBFB;
    /*color: #009688;*/
    /*border: 1px solid #009688;*/
}
.cardBtn{
    border: 0;
    background: 0;
    margin-left: 0;
    padding: 0;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
    z-index: 1;
}

/* 모달 내용을 감싸는 컨테이너 */
.modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 모달 닫기 버튼 */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 모달 내용 스크롤바 스타일 (필요시) */
.modal-content {
    max-height: 80vh; /* 모달 내용의 최대 높이 조정 */
    overflow-y: auto; /* 세로 스크롤바 추가 */
}
.card-details{
    background: #009688;
    padding: 30px;
    border-radius: 10px;
}
.card-label{
    color: #ded7d7;
    text-align: center;
    margin: 10px;
    font-weight: 700;
}
.card-box{
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}
.card-buttons{
    text-align: center;
    margin: 25px;
}
.card-button, .card-cashback-button{
    width: 170px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    background: #bbb9b69c;
    margin-right: 5px;
}
.card-cashback-button > .one{
    font-weight: 700;
}
.card-history{
    text-align: center;
}
.card-history {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}

.card-history-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.transaction-date,
.transaction-description,
.transaction-amount {
    flex-basis: 30%;
    text-align: center;
}

/* 반응형 스타일링 */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}
#cardHistoryTable_length, #cardHistoryTable_filter, #cardHistoryTable_info{
    display: none;
}

.date-search{
    text-align: center;
}
.date-search{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-weight: 700;
}
#selectedMonth{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #939292;
    color: #333131;
    font-weight: 700;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
    background-color: #ffffff !important;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
    background-color: #ffffff !important;
}
table.dataTable tbody tr{
    background-color: #ffffff !important;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1{
    background-color: #ffffff !important;
}
.cardAndTransfer{
    text-align: center;
    margin-left: 16px;
}
.accountAndInfo{
    margin-right: 16px;
}
.invitecodebox{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.invitecode{
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    padding: 10px;
    margin-bottom: 30px;
    width: 380px;
    border-radius: 7px;
    border: 1px solid #c1baba;
    box-shadow: 1px 1px 5px 5px #f7f6f6;
}
.invitecode::placeholder{
    color: #dddddd;
}
