.contents-1{
    padding: 35px 0 20px 20px;
    border-radius: 50px;
    display: flex;
}
.account-details{
    width: 363px;
    height: 191px;
    background: rgba(0, 152, 153, 0.73);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.new-account-details{
    width: 363px;
    height: 191px;
    background: #5c7a92;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
    float: left;
}
.account-button{
    width: 107px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border:0;
    font-weight: 700;
    font-size: 20px;
    color: #008485;
    margin: 20px 0 10px 20px;

}
.bank{
    height: 36px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 27px;
}
.account-info{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin: 10px 0px 10px 27px;
}
.change-account{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    float: right;
    text-align: right;
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    color: #FFFFFF;
    padding-right: 27px;
}
.change-account:hover{
    text-decoration-line: underline;
}
.charge-type{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.auto-charge{
    width: 230px;
    height: 80px;
    background: #f6f6f6;
    float: left;
    border-radius: 10px;
    margin: 5px 5px 12px 0px;
}
.charge-info{
    font-weight: 700;
    font-size: 20px;
    color: #616161;
    float: left;
    margin-left: 27px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.charge-status{
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    color: #616161;
    text-align: center;
    top: 50%;
    border-radius: 15px;
    border: 2px solid #414141;
}
.charge-condition, .charge-amount{
    width: 261px;
    height: 44px;
    background: #FFFFFF;
    display: flex;
    border-radius: 10px;
    margin : 10px auto;
}
.condition-title,.condition-unit,.charge-title,.charge-unit{
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    margin: 0 auto;
    color: #616161;
}
.condition-value {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    margin-top: 15px;
    color: #008485;
}
.charge-save-button{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: #000000;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border: 0;
    font-weight: 600;
    margin-right: 5px;
}
.auto-charge-1{
    width: 363px;
    height: 250px;
    background: #ECEBEB;
    border-radius: 10px;
    margin: 5px 5px 5px 0px;
}
.charge-info-1{
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    color: #616161;
    float: left;
    margin: 20px 0px 20px 27px;
}
.chargebtn{
    display: grid;
    margin-top: 5px;
}
.card-1 {
    margin: 0 auto;
}
.tvl-card{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin: 40px 0 27.5px 0;
}
/*index*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.account-change-btn{
    background-color: rgba(0, 152, 153, 0.73);
    border: 0;
    border-radius: 10px;
    height: 50px;
    width: 15%;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
}
.account-total{
    background-color: #dbdbdb;
    border: 0;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.openbanking{
    padding-left: 27px;
    padding-top: 10px;
    color: #848484;
    font-size: small;
}
.selectbtn{
    padding: 5px 0px 10px 27px;
    background: transparent;
    border: 0;
    font-weight: 700;
    font-size: larger;
}
.add-acc-box{
    background-color: #ffffff;
    border-top-left-radius: 10px;
    width: 100%;
    margin-top: 30px;
    border-top-right-radius: 10px;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.25);
}
/*conaccount*/
#searchForm input{
    width: 50%;
    border: 1px solid #bbb;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #f2f0f0;
}
.add-acc-box > h3{
    padding: 30px 0px 0px 27px;
    font-weight: 300;
}
.add-acc-box > h2{
    margin-left: 27px;
}
.add-acc-box > a{
    margin-left: 27px;
    color: #008485;
}
.add-acc-box > img{
    width: 220px;
    float: right;
    position: relative;
    bottom: 100px;
    right: 30px;
}
.acc-box{
    display: flex;
}
.card-1, .account, .travelbox{
    border: 1px solid #d8d8d8;
    padding: 30px;
    border-radius: 10px;
    margin: 5px;
}
.travelbox-2{
    border-left: 1px solid #ddd;
    padding-left: 15px;
}
.travelbox-1, .travelbox-2, .travelbox-3{
    margin: 10px;
    width: 30%;
    display: inline-flex;
    height: 300px;
    position: relative;
}
.travelbox-1, .travelbox-2{
    position: relative;
    float: left;
}
.travelbox-1 button,
.travelbox-2 button,
.travelbox-3 button {
    box-shadow: 5px 7px 11px 0px #e5e1e1;
    position: absolute;
    width: 230px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: 0;
    background: #f8f8f8;
}
.card-1{
    height: 220px;
}
.auto-charge2{
    display: flex;
}
.saveboxcnt a{
    text-align: center;
    margin: 0 auto;
}

.backgroundbox{
    width: 100%;
    height: 300px;
    /*background: linear-gradient(156deg, #0c96a8 0%, rgb(165 225 234 / 87%) 52.08%, #159db0 100%);*/
    background: linear-gradient(180deg, #31D8BA 0%, rgba(124, 218, 201, 0.65) 45.83%, rgba(3, 181, 182, 0.38) 60.42%, rgba(255, 184, 0, 0.37) 100%);
    position: relative;
}
.backgroundbox .topbox{
    width: 1400px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    margin-top: -50px;
    background: white;
}
.mypage-user{
    padding: 30px;
    margin: 5px;
    height: 950px;
    border-right: 1px solid #d8d8d8;
}
.user-detail{
    border: 1px solid #d8d8d8;
    padding: 30px;
    border-radius: 10px;
    margin: 5px;
    height: 300px;
    width: 150px;
    background: #fcfcfc;
    position: relative;
}
.accountbox{
    margin-left: 30px;
}
h2{
    margin:10px;

}
.account-box-1{
    border: 1px solid #d8d8d8;
    padding: 30px;
    border-radius: 10px;
    margin: 5px;
    width: 92%;
    display: flex;
}
.account-box-2{
    width: 200px;
    margin-left: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}
.account-box-2 img{
    padding: 20px 0 0px 20px;
}
.account-box{
    display: flex;
    justify-items: end;
}
.chartbox{
    width: 250px;
}
.auto-charge-box{
    float: left;
    height: 220px;
    margin-top: 10px;
}

.travelsavebox{
    padding: 50px 65px 30px 65px;
    color: #50575d;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.saveboxcnt{
    margin-top: 15px;
}
.chargeboxbtn{
    display: flex;
}
.auto-charge-box-1{
    margin-top: 10px;
    margin-left: 30px;
}
.mypage-img{
    width: 100px;
    height: 110px;
    border-radius: 50%;
}
.mypage-box{
    text-align: center;
}
.mypage_logout{
    padding: 30px;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.slider-2 {
    height:400px;
    position:relative;
}

.slider-2 .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:200px;
    background-position:center;
    /* 이미지를 최대한 안짤리게 한다. */
    background-size:cover;
    /* 배경 반복 금지 */
    background-repeat:no-repeat;
    opacity:0;
    transition: opacity 0.5s;
}

.slider-2 .slides > div.active {
    opacity:1;
    z-index: 1;
}

@media ( max-width:700px ) {
    .slider-2 {
        height:300px;
    }
}

.slider-2 .page-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
}

.slider-2 .page-nav > div {
    display:inline-block;
    width:15px;
    height:15px;
    background-color:rgba(255,255,255,0.5);
    border-radius:2px;
    cursor:pointer;
}

.slider-2 .page-nav > div.active {
    background-color:rgba(255,255,255,1);
}

.slider-2>.side-btns>div{
    position: absolute;
    top: 50px;
    width: 30%;
    height: 100px;
    cursor: pointer;
    z-index: 10;
}

.slider-2>.side-btns>div>span:active{
    transform:translatey(-40%);
}
.slider-2>.side-btns>div:last-child{
    left:auto;
    right:0;
}

.slider-2>.side-btns>div>span{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: inherit;
    right: inherit;
    width: 15px;
    height: 70px;
    border-radius: 100%;
    margin: 0 10px;
}
.slider-2>.side-btns>div>span > i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: rgb(255 255 255 / 31%);
    transform: translateX(-70%) translateY(-50%);
}

.slider-2>.side-btns>div:last-child>span > i {
    transform:translateX(-20%) translateY(-50%);
}
.account-month{
    color: #838484;
    font-weight: 700;
    padding: 20px 0 10px 20px;
    border: 0;
    background: 0;
    display: block;
    font-size: 17px;
}
.cnt-1{
    font-weight: 900;
    font-size: 18px;
    padding-top: 20px;
}
.cnt-1-1{
    font-weight: 900;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 5px;
    color: #2196F3;
}
.cnt-1-2{
    font-weight: 900;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 20px;
    color: rgb(233, 30, 99);
}
.account-cnt{
    display: flex;
}
.cnt-2{
    color: #2196F3;
    font-weight: 900;
    font-size: 20px;
    padding: 20px;
    float: right;
}
.auto-charge-box-2{
    margin-left: 30px;
    border-left: 1px solid #ddd;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    height: 200px;
}
